USE [master]
GO
/****** Object:  Database [NonProfitDB]    Script Date: 8/4/2026 8:52:39 PM ******/
CREATE DATABASE [NonProfitDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NonProfitDB', FILENAME = N'C:\Users\Donald\NonProfitDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NonProfitDB_log', FILENAME = N'C:\Users\Donald\NonProfitDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NonProfitDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NonProfitDB]
GO
/****** Object:  Table [dbo].[BankAccount]    Script Date: 8/4/2026 8:52:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankAccount](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[AccountName] [nvarchar](100) NOT NULL,
	[CurrentBalance] [float] NULL,
	[LastUpdated] [datetime2](7) NULL,
 CONSTRAINT [PK__BankAcco__349DA5A6BA310646] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Donation]    Script Date: 8/4/2026 8:52:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Donation](
	[DonationId] [int] IDENTITY(1,1) NOT NULL,
	[DonorId] [int] NOT NULL,
	[DonationCategoryId] [int] NULL,
	[DonationDate] [date] NOT NULL,
	[EntryDate] [datetime2](7) NOT NULL,
	[Amount] [float] NOT NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[ReferenceNumber] [nvarchar](100) NULL,
	[Notes] [nvarchar](500) NULL,
	[RecordedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK__Donation__C5082EFB6E94C657] PRIMARY KEY CLUSTERED 
(
	[DonationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonationCategory]    Script Date: 8/4/2026 8:52:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonationCategory](
	[DonationCategoryId] [int] NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK__Donation__4EA6D65E267D6F5F] PRIMARY KEY CLUSTERED 
(
	[DonationCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Donor]    Script Date: 8/4/2026 8:52:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Donor](
	[DonorId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[Email] [nvarchar](255) NULL,
	[Phone] [nvarchar](50) NULL,
	[Address] [nvarchar](255) NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](50) NULL,
	[ZipCode] [nvarchar](20) NULL,
	[CreatedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[DonorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expense]    Script Date: 8/4/2026 8:52:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expense](
	[ExpenseId] [int] IDENTITY(1,1) NOT NULL,
	[ExpenseCategoryId] [int] NOT NULL,
	[ExpenseDate] [date] NOT NULL,
	[EntryDate] [datetime2](7) NOT NULL,
	[Amount] [float] NOT NULL,
	[Payee] [nvarchar](255) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[ReferenceNumber] [nvarchar](100) NULL,
	[Notes] [nvarchar](500) NULL,
	[RecordedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK__Expense__1445CFD383D144D2] PRIMARY KEY CLUSTERED 
(
	[ExpenseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExpenseCategory]    Script Date: 8/4/2026 8:52:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpenseCategory](
	[ExpenseCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ExpenseCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionLedger]    Script Date: 8/4/2026 8:52:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionLedger](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[TransactionType] [nvarchar](20) NULL,
	[ReferenceId] [int] NOT NULL,
	[TransactionDate] [date] NOT NULL,
	[EntryDate] [datetime2](7) NOT NULL,
	[Amount] [float] NOT NULL,
	[AccountId] [int] NULL,
	[BalanceAfter] [float] NULL,
	[Notes] [nvarchar](500) NULL,
 CONSTRAINT [PK__Transact__55433A6B45E7101E] PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BankAccount] ADD  CONSTRAINT [DF__BankAccou__Curre__33D4B598]  DEFAULT ((0)) FOR [CurrentBalance]
GO
ALTER TABLE [dbo].[BankAccount] ADD  CONSTRAINT [DF__BankAccou__LastU__34C8D9D1]  DEFAULT (sysdatetime()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[Donation] ADD  CONSTRAINT [DF__Donation__EntryD__29572725]  DEFAULT (sysdatetime()) FOR [EntryDate]
GO
ALTER TABLE [dbo].[Donor] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Expense] ADD  CONSTRAINT [DF__Expense__EntryDa__300424B4]  DEFAULT (sysdatetime()) FOR [EntryDate]
GO
ALTER TABLE [dbo].[TransactionLedger] ADD  CONSTRAINT [DF__Transacti__Entry__38996AB5]  DEFAULT (sysdatetime()) FOR [EntryDate]
GO
ALTER TABLE [dbo].[Donation]  WITH CHECK ADD  CONSTRAINT [FK__Donation__Donati__2B3F6F97] FOREIGN KEY([DonationCategoryId])
REFERENCES [dbo].[DonationCategory] ([DonationCategoryId])
GO
ALTER TABLE [dbo].[Donation] CHECK CONSTRAINT [FK__Donation__Donati__2B3F6F97]
GO
ALTER TABLE [dbo].[Donation]  WITH CHECK ADD  CONSTRAINT [FK__Donation__DonorI__2A4B4B5E] FOREIGN KEY([DonorId])
REFERENCES [dbo].[Donor] ([DonorId])
GO
ALTER TABLE [dbo].[Donation] CHECK CONSTRAINT [FK__Donation__DonorI__2A4B4B5E]
GO
ALTER TABLE [dbo].[Expense]  WITH CHECK ADD  CONSTRAINT [FK__Expense__Expense__30F848ED] FOREIGN KEY([ExpenseCategoryId])
REFERENCES [dbo].[ExpenseCategory] ([ExpenseCategoryId])
GO
ALTER TABLE [dbo].[Expense] CHECK CONSTRAINT [FK__Expense__Expense__30F848ED]
GO
ALTER TABLE [dbo].[TransactionLedger]  WITH CHECK ADD  CONSTRAINT [FK__Transacti__Accou__398D8EEE] FOREIGN KEY([AccountId])
REFERENCES [dbo].[BankAccount] ([AccountId])
GO
ALTER TABLE [dbo].[TransactionLedger] CHECK CONSTRAINT [FK__Transacti__Accou__398D8EEE]
GO
ALTER TABLE [dbo].[TransactionLedger]  WITH CHECK ADD  CONSTRAINT [CK__Transacti__Trans__37A5467C] CHECK  (([TransactionType]='Expense' OR [TransactionType]='Donation'))
GO
ALTER TABLE [dbo].[TransactionLedger] CHECK CONSTRAINT [CK__Transacti__Trans__37A5467C]
GO
USE [master]
GO
